Get the last element in the following list: a = [23, 56, 31, 72, 82, 71, 51, 91, 84, 60]

In [3]:
a = [23, 56, 31, 72, 82, 71, 51, 91, 84, 60]
a[-1]

60

Get the sum of all elements in the list a

In [4]:
sum(a)

621

remove the last item from car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [6]:
car={"brand":"Ford","model":"Mustang","year":1964}
car.pop("year")
car

{'brand': 'Ford', 'model': 'Mustang'}

Find the length of the string "refrigerator"

In [7]:
len("refrigerator")

12

take away 'banana' from fruits = {"apple", "banana", "cherry"}

In [9]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
fruits

{'apple', 'cherry'}

Find the palindrome of string "GARGANTUAN" (hint: use string indexing method)

In [73]:
string="GARGANTUAN"

In [83]:
s2=list(string)
s2.reverse()
palindrome="".join(s2)

convert the given dictionary as list of tuples containing key and value
groceries = {'fruits': ['mango', 'apple', 'grapes'],
             'vegetables': ['carrot', 'beetroot', 'cabbage', 'onion'],
             'grains': ['rice', 'wheat']
            }

In [10]:
groceries = {'fruits': ['mango', 'apple', 'grapes'], 'vegetables': ['carrot', 'beetroot', 'cabbage', 'onion'], 'grains': ['rice', 'wheat'] }

In [11]:
keys=groceries.keys()
values=groceries.values()

In [17]:
list(keys)

['fruits', 'vegetables', 'grains']

In [20]:
list(map(tuple,values))

[('mango', 'apple', 'grapes'),
 ('carrot', 'beetroot', 'cabbage', 'onion'),
 ('rice', 'wheat')]

Retrieve the values from above 'groceries' as list of lists

In [14]:
list(values)

[['mango', 'apple', 'grapes'],
 ['carrot', 'beetroot', 'cabbage', 'onion'],
 ['rice', 'wheat']]

convert the string to list of words "The force is strong with this one"

In [21]:
sent="The force is strong with this one"
words=sent.split()
words

['The', 'force', 'is', 'strong', 'with', 'this', 'one']

Convert the above list of words back to string delimited by hyphen

In [22]:
sent_hypen="-".join(words)
sent_hypen

'The-force-is-strong-with-this-one'

Get the keys from the dictionary {a:5, b:43, c:9, d:71}

In [23]:
dic={"a":5, "b":43, "c":9, "d":71}
dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

Combine 2 lists together,  fruits = ['apple', 'banana', 'orange'], ['grapes', 'mango']

In [24]:
fruits = ['apple', 'banana', 'orange']
fruits_new= ['grapes', 'mango']
fruits.extend(fruits_new)

In [25]:
fruits

['apple', 'banana', 'orange', 'grapes', 'mango']

Pop the second last element from the above combined list

In [26]:
fruits.pop(-2)
fruits

['apple', 'banana', 'orange', 'mango']

Insert a new fruit 'watermelon' to the above combined list at index 2

In [27]:
fruits.insert(2,"watermelon")
fruits

['apple', 'banana', 'watermelon', 'orange', 'mango']

"But you know, happiness can be found even in the darkest of times, if one only remembers to turn on the light.―Albus Dumbledore" 

Retrieve the name and quote from the above string

In [28]:
sentence="But you know, happiness can be found even in the darkest of times, if one only remembers to turn on the light.―Albus Dumbledore"
quote,name=sentence.split("―")

In [29]:
quote

'But you know, happiness can be found even in the darkest of times, if one only remembers to turn on the light.'

In [30]:
name

'Albus Dumbledore'

from the above quote replace all 'a' with '@'

In [32]:
newq=quote.replace('a','@')
newq

'But you know, h@ppiness c@n be found even in the d@rkest of times, if one only remembers to turn on the light.'

convert quote to list and find the index of the word 'darkest'

In [34]:
wordslist=quote.split()
wordslist.index("darkest")

10

sort cars = ['Ford', 'Mitsubishi', 'BMW', 'VW'] in reverse order

In [37]:
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(reverse=True)
cars

['VW', 'Mitsubishi', 'Ford', 'BMW']

Find the number of occurences of 5 in thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [38]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.count(5)

2

convert the given tuple x as keys and y as values to a dictionary 
x = ('key1', 'key2', 'key3')
y = 'lock'

In [71]:
x = ('key1', 'key2', 'key3') 
y = 'lock '*3
y=y.split()
dic=dict(zip(x,y))

In [72]:
dic

{'key1': 'lock', 'key2': 'lock', 'key3': 'lock'}

get the unique items from the list LOTR = ['Aragorn', 'Gollum', 'Gandalf', 'Legolas', 'Aragorn', 'Gollum', 'Galadriel', 'Aragorn', 'Gollum', 'Sauron', 
                                           'Aragorn', 'Gandalf', 'Galadriel', 'Gollum', 'Galadriel', 'Gandalf', 'Legolas']

In [42]:
LOTR = ['Aragorn', 'Gollum', 'Gandalf', 'Legolas', 'Aragorn', 'Gollum', 'Galadriel', 'Aragorn', 'Gollum', 'Sauron', 'Aragorn', 'Gandalf', 'Galadriel', 'Gollum', 'Galadriel', 'Gandalf', 'Legolas']
set(LOTR)

{'Aragorn', 'Galadriel', 'Gandalf', 'Gollum', 'Legolas', 'Sauron'}

get the element '@' from rndm = [34, 'Ford', 'Sauron', ['orange', 65, ['cake', 99, '@'], 82, 'Gollum'], 'cherry']

In [43]:
rndm = [34, 'Ford', 'Sauron', ['orange', 65, ['cake', 99, '@'], 82, 'Gollum'], 'cherry']
rndm[3][2][-1]

'@'

get the list ['orange', 65, 'cake'] from rndm = [34, 'Ford', 'Sauron', ['orange', 65, ['cake', 99, '@'], 82, 'Gollum'], 'cherry']

(use list slicing)

In [51]:
rndm[3][:2]+rndm[3][2][:1]

['orange', 65, 'cake']