# Exercise Question 1: 

Print the following pattern using for loop

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [3]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

# Exercise Question 2:
 
Write a Python program to get the Fibonacci series between 0 to 50.

In [8]:
def fib(n):
    a=0
    b=1
    c=0
    i=0
    while c<n:
        print(c,end=" ")
        a=b
        b=c
        c=a+b
        
fib(50)

0 1 1 2 3 5 8 13 21 34

# Exercise Question 3:

Write a python program to count the no of vowels in a string

In [10]:
def count_vowels(string):
    letters=list(string.lower())
    count=letters.count('a')+letters.count('e')+letters.count('i') +letters.count('o')+letters.count('u')
    return count

count_vowels("aeiou")

5

# Exercise Question 4: 

Write a python program to find the 'n' largest number from a list of 'm' numbers without using any external functions.

In [132]:
def get_n_large(arr,n):
    arr.sort
    arr=list(set(arr))
    print(arr)
    print(arr[-n])
get_n_large([5,4,2,4,6,3,2,5,3,2],3)

[2, 3, 4, 5, 6]
4

# Exercise Question 5:

Write a python program to reverse a string

In [14]:
string="aeiou"
temp=list(string)
temp.reverse()
print(''.join(temp))

uoiea

# Exercise Question 6:

Write a python function to check if a number is a perfect number or not

In [65]:
def isPerfect(num):
    facts=[]
    for i in range(1,num):
        if num%i==0:
            facts.append(i)
    print(facts)
    if sum(facts)==num:
        return True
    else:
        return False
isPerfect(496)

[1, 2, 4, 8, 16, 31, 62, 124, 248]

True

# Exercise Question 7:

Write a python function that prints the first n rows of pascal's triangle.

In [66]:
def pascal_triangle(n):
    trow = [1]
    y = [0]
    for x in range(max(n,0)):
        print(trow)
        trow=[l+r for l,r in zip(trow+y, y+trow)]
    return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

# Exercise Question 8:

Write a recursive function that returns the factorial of a number

In [1]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

# Exercise Question 9:

Write a python program to convert a number into it's binary form

In [78]:
bin(128)

def get_str(x,n=2):
    if x==1:
        return str(1)
    else:
        return str(x%n)+get_str(x//n,n)

def binary(x):
    string=get_str(x,n=2)
    string=list(string)
    string.reverse()
    return ''.join(string)

binary(10)

'1010'

# Exercise Question 10

Write a function in Python to find GCD of two numbers using recursion

In [5]:
def GCD(a,b):
    if a<b:
        temp=a
        a=b
        b=temp
   
    if a%b==0:
        return b
    else:
        return GCD(b,a%b)
print(GCD(24,18))
print(GCD(18,24))

6
6

# Exercise Question 11

Write a function in Python to get the largest element of an array using recursion.

In [63]:
def get_large(nums,lg=0):
    if len(nums)==0:
        return lg
    else:
        if nums[0]>lg:
            print(nums[1:])
            return get_large(nums[1:],nums[0])
        else:
            print(nums[1:])
            return get_large(nums[1:],lg)
print(get_large([1,2,3,4,5,4,3,2,1,10]))

[2, 3, 4, 5, 4, 3, 2, 1, 10]
[3, 4, 5, 4, 3, 2, 1, 10]
[4, 5, 4, 3, 2, 1, 10]
[5, 4, 3, 2, 1, 10]
[4, 3, 2, 1, 10]
[3, 2, 1, 10]
[2, 1, 10]
[1, 10]
[10]
[]
10

# Exercise Question 12

Reverse a string using Recursion

In [52]:
def reverse(string):
    if string=="":
        return ""
    return string[-1]+reverse(string[:-1])
reverse("hello")

'olleh'

# Exercise Question 13

Write a program in Python to display the n terms of harmonic series and their sum

Test Data : 

Input the number of terms : 5 

Expected Output :

1/1 + 1/2 + 1/3 + 1/4 + 1/5 +

In [22]:
def harmonic_series(n):
    temp=0
    for i in range(1,n+1):
        print("1/"+str(i),end=" + ")
        temp+=1/n
    print("")
    print("sum is ",temp)
harmonic_series(5)

1/1 + 1/2 + 1/3 + 1/4 + 1/5 +
sum is  1.0

# Exercise Question 14

Write a program in Python to find the sum of the series 1 +11 + 111 + 1111 + .. n terms

In [13]:
def sum_n(n,t=0):
    if n==1:
        return 10**t
    else:
        return n*10**t+sum_n(n-1,t+1)
sum_n(3)
sum_n(4)

1234

# Exercise Question 15

Write a python function to find the first uppercase letter in a string using recursion

In [32]:
string="helloDoctor"
def get_ful(string):
    i=ord(string[0])
    if (i>=65 and i<=90):
        return string[0]
    else:
        return get_ful(string[1:])
        
get_ful(string)

'D'

# Exercise Question 16

Print all possible combinations of elements in a given array of size n

input: 

123

Output:

1 2 3

1 3 2

2 3 1

2 1 3

3 1 2

3 2 1

In [139]:
from itertools import permutations
def get_perms(arr):
    perms=list(permutations(arr, len(arr)))
    for i in perms:
        for j in i:
            print(j,end=" ")
        print()
get_perms([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

# Exercise Question 17

Implement any sorting algorithm in Python

In [89]:
def bubbleSort(arr): 
    n = len(arr) 
    for i in range(n-1): 
        for j in range(0, n-i-1): 
            if arr[j] > arr[j+1] : 
                arr[j], arr[j+1] = arr[j+1], arr[j] 

arr = [64, 34, 25, 12, 22, 11, 90] 
  
bubbleSort(arr) 
print(arr)

[11, 12, 22, 25, 34, 64, 90]

# Exercise Question 18

Find number of substring occurences in a given string using Python

input:

today is a good day,   od

output:

2

In [34]:
string="gooddaydood"
def count_sb(string,sub):
    return string.count(sub)
count_sb(string,"od")

2

#Exercise Question 19:

Given an input amount of change x, write a function to determine the minimum number of coins required to make that amount of change.

ex:

change(1) = 1 ( 1 one rupee coin )
change(21) = 2 ( 1 twenty rupee & 1 one ruppe)
change(56) = 3  ( 1 fifty rupee, 1 five rupee & 1 one rupee)

In [122]:
def min_change(x,t=None):
    nums=list(map(int,list(str(x))))
    
    if t==None:
        t=nums[-1]
    
    if t>=5:
        print("five rupee coin:",t//5)
        return min_change(x,t-5*(t//5))
    elif t>=2:
        print("two rupee coin:",t//2)
        return min_change(x,t-2*(t//2))
    elif t==1:
        print("one rupee coint:",1)
        
    
min_change(1271)

one rupee coint: 1

# Exercise Question 20

Write a python program to check if a number in the range of 500-1000 consists of even numbers. 

For ex:
 
426 (all even)

427 (all not even)

In [39]:
def isEven(num):
    count=list(filter(lambda x:int(x)%2==0,list(str(num))))
    if count==len(list(str(num))):
        return True
    else:
        return False
isEven(427)

False

 # Exercise Question 21
 
 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result

In [44]:
a1=lambda x:x+15
a2=lambda x,y:x+y
a1(15)
a2(15,10)

25

 # Exercise Question 22
 
 Write a Python program to square and cube every number in a given list of integers using Lambda.

In [40]:
nums=[1,2,3,4,5]
sq_cbs=list(map(lambda x:(x**2,x**3),nums))
print(sq_cbs)

[(1, 1), (4, 8), (9, 27), (16, 64), (25, 125)]

# Exercise Question 23

Write a Python program to multiply two given lists using map and lambda

In [82]:
from operator import mul
nums1=[1,2,3,4,5]
nums2=[5,4,3,2,1]
list(map(mul,nums1,nums2))

[5, 8, 9, 8, 5]

# Exercise Question 24

Write a Python program that multiply each number of given list with a given number using lambda function

In [42]:
nums=[1,2,3,4,5]
y=10
new_list=list(map(lambda x:x*y,nums))
new_list

[10, 20, 30, 40, 50]

# Exercise Question 25

Write a Python program that removes the negative numbers from a given list of numbers. Multiply the positive numbers and print the value using lambda function.

In [87]:
nums=[1,2,3,4,5,-1,-2,-3]
nums=list(filter(lambda x:x>=0,nums))
from functools import reduce
reduce(lambda x,y:x*y, nums)

120

# Exercise Question 26

Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda

In [10]:
nums=[13,19,19,13,1,2,3,13,13,26,190]
count=len(list(filter(lambda x:(x%13==0 or x%19==0),nums)))
count

8

# Exercise Question 27

Write a Python program to sort a list of tuples using Lambda.

In [123]:
tuples=[("dhoni",98),("kohli",94),("Gambhir",97),("dhawan",53),("yuvaraj",35)]
tuples.sort(key=lambda x:x[1])
print(tuples)

[('yuvaraj', 35), ('dhawan', 53), ('kohli', 94), ('Gambhir', 97), ('dhoni', 98)]